*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}

.head-container{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(12,3,51,0,3),rgba(12,3,51,0,3));*/
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #fff;
}
.logo{
    font-size: 2.2rem;
    font-weight: 600;
}
.logo i{
    color: #29d9d5;
    padding-right: 8px;
}
nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a:hover{
    color: rgb(238, 59, 59);
}
.sign-btn{
    background: #29d9d5;
    padding: 10px 15px;
    border-radius: 5px;
}
.head-content{
    text-align: center;
}
.head-content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.head-content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.head-content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.head-content a:hover{
    background-color: #29d9d5;
    color: rgb(238, 59, 59);  
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}
.fa-bars{
    color: #fff;
    font-size: 25px;
    display: none;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
@media only screen and (max-width: 769px){
    .head-content h1{
        font-size: 90px;
    }
    .head-content a{
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .head-container{
        height: 90%;
    }
    .logo{
        font-size: 1.5rem;
    }
    nav{
        position: absolute;
    }
    nav ul li{
        display: block;
        font-size: 14px;
        padding-bottom: 20px;
    }
    ul{
        position: absolute;
        right: 0;
        padding: 20px;
        top: 60px;
        background: rgba(0,0,0,0.4);
        display:none;
    }
    .fa-bars{
        display: block;
        cursor: pointer;
    }
    .active-bar{
        display: block;
    }
}

/* Register Page */

.back-image{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-box{
    width:370px;
    height: 470px;
    position: relative;
    margin: 7% auto;
    background: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.button-box{
    display: inline;
    width: 220px;
    margin: 30px auto;
    position: absolute;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
}
.icons{
    margin:30px auto;
    text-align: center;
    position: absolute;
    margin-top: 90px;
}
.icons img{
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 50%;
}
.input-form{
    position: absolute;
    top: 180px;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.prim-text{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}
#register{
    left: 450px;
}
@media only screen and (max-width: 769px){
.form-box{
    margin-top: 70px;
}
.input-field{
    width: 90%;
}
}

/* planning */
.planning{
  width: 100%;
  padding: 30px 0;
  background: rgb(11,22,33); 
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.plan-look p{
    font-size: 14px;
    margin-bottom: 10px;
}
.plan-name{
    width: 350px;
    padding: 10px 0;
    border: 1px solid #777;
    border-radius: 10px;
}
.plan-date{
    width: 350px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 10px;
}
.plan-submit{
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: 1px solid #777;
    cursor: pointer;
}
.plan-submit:hover{
    background-color: #29d9d5;
    color: rgb(238, 59, 59);
}
@media only screen and (max-width: 769px){
    .planning{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    
}
/* Exclusives */
#Exclusive-info{
    width: 100%;
    padding: 0 30px;
}
.sub-title{
    padding: 3vw;
    font-size: 30px;
    font-weight: 500;
    color: #29d9d5;
    text-align: center;
}
#Exclusive-info .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px;
    padding: 0 30px;
} 
#Exclusive-info img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.exclusives{
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ddd;
    position: relative;
}
.exclusives span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: 0.4s ease-in-out;
    
}
.exclusives span:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    opacity: 1;
}
@media only screen and (max-width: 769px){
    .exclusives span{
        opacity: 1;
        width: 35%;
        background: rgba(0,0,0,0.4);
    }
    #Exclusive-info .container{
        grid-gap: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Collectios */

#collection-info{
    width: 100%;
    padding: 0 30px;
}
#collection-info .container{
    display: flex;
    justify-content: space-around; 
}
.collection-name{
    width: 15%;
    height: 320px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
    transition: 0.5s ease-out;
}
.collection-name:hover{
    cursor: pointer;
    transform: scale(1.04);
}
#collection-info div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.collection-name .text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-weight: 600;
}
.collection-name .text .Top{
    border: 1px solid #fff;
    padding: 2px;
    border-radius: 5px;
    color: #000;
    background: #fff;
    font-size: 18px;
}
.collection-name .text h3{
    margin-bottom: 10px;
}
@media only screen and (max-width: 663px){
    #collection-info .container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .collection-name{
        width: 85%;
    }
    #collection-info div img{
        height: 100%;
    }
}
/* service-info */
#services{
    margin: 30px 0;
}
#services .heading{
    text-align: center;
    margin-bottom: 2rem;
}
#services .heading span{
    font-size: 2.2vw;
    color: #29d9d5;
}
#services .heading h1{
    font-size: 2vw;
    color: #333;
}
.services .service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 25px; 
    padding: 0 5%;
}
.service-box{
    background: rgb(11,22,33); 
    border: .2rem solid #fff;
    border-radius: 20px;  
    padding: 2rem 0; 
    text-align: center;
    color: #fff;
}
.service-box i{
    font-size: 3rem;
    color: #29d9d5;
    margin-bottom: 1rem;
}
.service-box h3{
    font-size: 18px;
     margin-bottom: 1rem;
}
.service-box p{
    font-size: 14px;
    line-height: 1.4em;
}
.service-box:hover{
     border-color: #29d9d5;
}
@media only screen and (max-width: 663px){
    #services .heading span{
        font-size: 4.2vw;
    }
    #services .heading h1{
        font-size: 4vw;
    }
    #services .heading{
        margin-bottom: 1rem;
    }
}
/* Footer-section */

#footer{
    width: 100%;
    padding: 100px 15%;
    background: rgb(11,22,33);
    color: #fff;
    display: flex;
}
#footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
#footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    margin-bottom: 10px;
}
#footer form input{
    width: 400px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
#footer form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 15px;
    cursor: pointer;
}
#footer .cont-icons{
    display: block;
    margin-bottom: 15px;
}
#footer .social-icons{
    margin-top: 30px;
}
#footer .social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 769px){
    #footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #footer form input{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
    }
}

/* Gallery info */

#gallery-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    margin-top: 90px;
}
#gallery-info .heading{
    width: 40%;
    padding-bottom: 50px;
}
#gallery-info .heading h3{
    font-size: 4vw;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 3px solid #29d9d5;
}
#gallery-info .heading h3 span{
    color: #29d9d5;
    font-weight: 100;
}
#gallery-info .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#gallery-info .box .dream{
    display: flex;  
    flex-direction: column;
    width: 32.5%;
}
#gallery-info .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
#gallery-info .more-btn{
    margin: 40px 0 70px 0;
    background: #29d9d5;
    padding: 15px 40px;
    border-radius: 5px;
}
#gallery-info .more-btn a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}
@media only screen and (max-width: 769px){
    #gallery-info .box{
        flex-direction: column;
    }
    #gallery-info .box .dream{
        width: 100%;
    }
};
@media only screen and (max-width: 643px){
    #gallery-info .heading{
        width: 100%;
    }
}

/* contact-info */
body{
    width: 100%;
 }
 #contact-section .container{
    width: 80%;
    margin: 80px auto;
}
.contact-box{
    background: #ddd;
    display: flex;
}
.contact-left{
    flex-basis:60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #fff;
}
#contact-section .container h1{
    margin-bottom: 10px;
}
#contact-section .container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
.input-row .input-group input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    background: #ddd;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
.contact-btn{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 0;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
@media only screen and (max-width: 769px){
#contact-section .container{
    width: 90%;
    }
.contact-box{
    flex-direction: column;
}
#contact-section .container p{
    margin-bottom: 20px;
    text-align: center;
}
#contact-section .container h1{
    text-align: center;
}
}
/* about-info */

.about-heading{
    background: url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading h1{
    font-size: 8rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px #ddd;
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 30px 50px;
}
.about-img{
    flex: 1 1 41rem;
} 
.about-img img{
    width: 100%;
}
.about-content{
    flex: 1 1 41rem;
    text-align: center;
}
.about-content h3{
    font-size: 30px;
}
.about-content p{
    font-size: 17px;
    color: #777;
    line-height: 1.8em;
    padding: 10px 0;
}
.about-content .icons-container{
    margin-top: 15px;
    width: 100%;
    display: flex;
    gap: 20px;
}
.about-content .icons-container .about-icons{
    background: #eee;
    padding: 15px;
    flex: 1 1 12rem;
}
.about-content .icons-container .about-icons i{
    font-size: 35px;
    margin-bottom: 20px;
    color: #8e44ad;
}
.about-content .icons-container .about-icons span{
    font-size: 18px;
    color: #777;
    display: block;
}
.reviews{
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.reviews h1{
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 20px;
}
.reviews .slide{
    padding: 15px;
    border: 1px solid;
    background: #fff;
    text-align: center;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
}
.reviews .slide .stars i{
    font-size: 25px;
    color: #8e44ad;
}
.reviews .slide p{
    font-size: 17px;
    color: #777;
    line-height: 1.7em;
    padding: 15px 0;
}
.reviews .slide h3{
    font-size: 28px;
}
.reviews .slide span{
    font-size: 20px;
    color: #8e44ad;
    display: block;
}
.reviews .slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}
.swiper-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 30px;
}
.abt-btn{
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    background: #29d9d5;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 769px){
    .about-heading{
        padding: 6rem 0;
    }
    .about-heading h1{
        font-size: 3rem;
    } 
    .about-info{
        flex-direction: column;
        gap: 1rem;
    }
    .about-img{
        flex: 1 1;
    }
    .about-content{
        flex: 1 1;
    }
    .swiper-wrapper{
        grid-template-columns: 1fr;
    }
    .about-content .icons-container{
        flex-wrap: wrap;
    }
}

   
